body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 150px;
  width: 200px;
  border: 10px outset black;
  border-radius: -10%;
}

.game-over {

  background-color: red;
  opacity: 1;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
 
  margin-top: 10%;
  height: 80%;
 width: min-content;
margin-left: 0%;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: aliceblue;
}
   
 
@media (max-width: 1000px) {
  
  .btn {
    margin: 10px;
    display: inline-block;
    height: 50px;
    width: 300px;
    border: 10px outset black;
    border-radius: 10%; /* Corrected to a positive value */
  }
}
